<html>
  <head>
    <title>web_guesser</title>
    <style>
      .red {
        background: red;
      }

      .green {
        background: green;
      }

      .lightred {
        background: lightcoral
      }
    </style>
  </head>
  <body class=<%= background %>>
    <h1>The secret number is </h1>
    <p>TRY A GUESS</p>
    <p>Tries left :<%= tries %></p>
    <form>
      <input type="text" name="guess"/>
      <input type="submit" value="Guess!"/>
    </form>
    <p><%= output %></p>
  </body>
</html>
