<html>
  <head>
    <title>web_guesser</title>
  </head>
  <body>
    <h1>The secret number is <%= secret_num %></h1>
    <p>TRY A GUESS</p>
    <form>
      <input type="text" name="guess"/>
      <input type="submit" value="Guess!"/>
    </form>
    <p><%= output %></p>
  </body>
</html>
